/* general */
@font-face {
  font-family: nehama;
  src: url(assets/fonts/nehama-webfont.ttf), url(assets/fonts/nehama-webfont.eot);
}

@font-face {
  font-family: Rubik;
  src: url(assets/fonts/Rubik-Regular.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Rubik-Bold;
  src: url(assets/fonts/Rubik-Bold.ttf);
  font-weight: 800;
}

html,
body, #main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  direction: rtl;
  font-family: "Rubik";
}

#main {
  background-image: url("assets/media/bg.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

.page {
  display: none;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.speech-bubble {
  font-family: "nehama";
  font-size: 1.4rem;
  color: rgb(60, 60, 59);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.content-flex {
  display: flex;
  position: relative;
  width: 85%;
  margin: auto;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.content {
  border-radius: 2vw;
  width: 100%;
  padding: 2vh 4vw;
  background-color: rgba(240, 255, 255, 0.6);
  font-family: "Rubik";
  font-size: 1.15rem;
  margin-top: 5vw;
}

.content, .title {
  backdrop-filter: blur(3px);
  color: rgb(60, 60, 59);
}

.title {
  font-family: "Rubik-Bold";
  font-size: 1.5rem;
  padding: 1.5vh 4vw;
}

.bold {
  font-family: "Rubik-Bold";
}

.second-title {
  font-size: 1.3rem;
}

.third-title {
  font-size: 1.1rem;
}

.table {
  display: grid;
}

/* controls */
#controls {
  position: fixed;
  bottom: 0;
  height: 23.5vw;
  width: 100%;
  background-color: rgba(240, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-right: 2vw;
  padding-left: 2vw;
  z-index: 1;
}

.control-button {
   width: 10vw;
   margin-right: 1vw;
   margin-left: 1vw;
 }

 .prev {
  transform: rotate(180deg);
 }

 #lesson-map .container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  height: 90%;
  width: 70vw;
  margin-right: 1vw;
 }

 #lesson-map .topic {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  width: 25%;
  height: 100%;
 }

.lesson-map-target {
  width: 65%;
}

.topic-text {
  text-align: center;
  font-family: "Rubik-Bold";
  font-size: 3.8vw;
  width: 100%;
  height: 4vh;
  color: rgb(60, 60, 59);
  line-height: 1.1;
}

/* opening game */
/* general */
.arrows-structure {
  position: fixed;
  top: 36vw;
  width: 90%;
  margin: 5% auto;
  left: 0;
  right: 0;
}

.robin-hod {
  position: fixed;
  z-index: 2;
  bottom: 0;
}

#general-opening-game .robin-hod {
  height: 55vh;
  right: -15vw;
}

/* pages 0-2 */
.drag-arrow {
  position: relative;
  width: 19vw;
  z-index: 2;
  padding: 13px;
}

#opening-game .drag-arrow, #opening-game-explanation .drag-arrow {
  left: -2vw;
  top: 36.3vw;
}

#opening-game .drag-arrow{
  filter: drop-shadow(0 0 0.25rem rgb(223, 252, 8));
}

#opening-game-question .drag-arrow {
  top: 45vw;
  left: -67vw;
}

.drop-grass {
  position: fixed;
  width: 19vw;
  z-index: 1;
  right: 70vw;
  top: 47.5vw;
}

#general-opening-game .speech-bubble {
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: 62vw;
  height: 20vh;
  left: 0;
  padding: 4vw;
  padding-top: 10vw;
  background-image: url(assets/media/bubble.svg);
}

/* for the container of jquery animation */
#opening-game .container {
  height: 50vh;
}

#arrows-numbers {
  position: fixed;
  top: 2rem;
  width: 100%;
  height: 10%;
  color: white;
  direction: ltr;
  font-family: "nehama";
  text-align: center;
  font-size: 38vw;
}

/* pages 3*/
#opening-game-conclusion .speech-bubble,  #about .speech-bubble {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 90%;
  left: 0;
  padding: 5vw;
  background-image: url(assets/media/bubble_big.svg);
}

#opening-game-conclusion .speech-bubble {
  height: 35vmax;
  padding-top: 10vw;
}

#opening-game-conclusion .robin-hod {
  height: 58vh;
  right: -15vw;
}

#opening-game-conclusion .speech-bubble span {
  color: rgb(227, 2, 15);
}

/* opening */
#opening {
  height: 180vmin;
}

#opening .container {
  background-image: url("assets/media/2פתיחה/bg_open.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

#play {
  height: 64vh;
  left: 100vw;
  bottom: -1vh;
}

#about-button {
  position: fixed;
  width: 28vw;
  margin: 2vh 2vw;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 3;
}

/* about */
.logo {
  width: 10vw;
}

#about .speech-bubble div {
  width: 100%;
  text-align: center;
  font-size: 15vw;
}

#about .speech-bubble {
  height: 48vmax;
}

#about .robin-hod {
  height: 45vh;
  right: -17.5vw;
  bottom: -6vw;
}

/* lesson-goals */
#lesson-goals .robin-hod {
  height: 45vh;
  right: -15vw;
  bottom: -5vw;
}

#lesson-goals .speech-bubble {
  position: fixed;
  z-index: 2;
  bottom: 23.5vw;
  width: 55vw;
  height: 16vw;
  left: 0;
  padding-right: 8vw;
  padding-left: 2vw;
  padding-top: 5vw;
  background-image: url(assets/media/bubble_small.svg);
}

#lesson-goals .content-flex, #assessment .content-flex, #types .content-flex, #wording-rules .content-flex {
  top: 4vh;
}

#lesson-goals .title {
  background-color: rgba(240, 255, 255, 0.6);
}

#lesson-goals .content, #assessment .content, #wording-rules .content {
  height: 60vh;
}

/* assesment */
#assessment .speech-bubble {
  position: fixed;
  z-index: 2;
  width: 89vw;
  height: 24vh;
  margin-top: 1vh;
  left: -8vw;
  padding: 2vh 6vw;
  background-image: url(assets/media/3הערכת\ מצב/bubble_arrowhead_big.svg);
}

#assessment .title {
  background-color: rgba(81, 252, 252, 0.6);
}

#arrow-head {
  position: fixed;
  bottom: -7vw;
  width: 79vw;
  right: 0;
  z-index: 2;
}

.triangle {
  width: 80vw;
  position: fixed;
  z-index: 2;
  opacity: 0;
}

.click-triangle {
  width: 16vw;
  height: 17vw;
  background-color: transparent;
  position: fixed;
  z-index: 3;
}

#triangle-1 {
  bottom: -8vw;
  right: -0.8vw;
}

#triangle-2 {
  bottom: -7.6vw;
  right: -0.5vw;
}

#triangle-3 {
  bottom: -7.6vw;
  right: -1vw;
}

#click-triangle-1 {
  bottom: 50vw;
  right: 29vw;
  right: 39vw;
}

#click-triangle-2 {
  bottom: 34vw;
  right: 29vw;
}

#click-triangle-3 {
  bottom: 34vw;
  right: 29vw;
  right: 49vw;
}

/* importance */

#importance .speech-bubble {
  position: relative;
  z-index: 2;
  width: 58vw;
  height: 4vh;
  margin: auto;
  margin-top: 1vh;
  padding: 7vh 0vw;
  padding-right: 27vw;
  background-image: url(assets/media/bubble_robin.svg);
}

#importance .title {
  background-color: rgba(252, 158, 81, 0.6);
}

.flex-bullet {
  display: flex;
  width: 75vw;
  align-items: flex-start;
  margin-top: 1vh;
}

.little-bullet {
  width: 7vw;
  margin-left: 2vw;
}

/* types */
#types table {
  position: relative;
  margin: auto;
  width: 95vw;
  top: 7vh;
}

#types .first-row {
  text-align: center;
}

#types .first-column {
  width: 0%;
}

#types .second-column {
  width: 40%;
}

#types .third-column {
  width: 60%;
}

#types .title {
  background-color: rgba(252, 81, 252, 0.6);
}

#types td {
  background-color: white;
  padding: 3vw 3vh;
  border-radius: 8px;
}

#types .first-row.first-column {
  background-color: transparent;
}

#types .first-row.second-column, #types .first-row.third-column {
  background-color: rgb(253, 246, 142);
}

#types .second-row.first-column, #types .third-row.first-column {
  background-color: rgb(138, 238, 245);
}

/* wording-rules */

#wording-rules .title {
  background-color: rgba(81, 121, 252, 0.6);
}

/* bow-match-exer */

#bow-match-exer .speech-bubble {
  position: relative;
  z-index: 2;
  width: 58vw;
  height: 27vw;
  margin: auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 4vw 2vw;
  padding-right: 33vw;
  background-image: url(assets/media/bubble_robin_big.svg);
}

#bows-container {
  background-color: rgba(240, 255, 255, 0.6);
  backdrop-filter: blur(3px);
  width: 100vw;
  height: 35vh;
}

.bow-flex {
  display: none;
  opacity: 0;
  height: 77%;
  width: 100%;
}

.bow {
  display: block;
  position: relative;
  margin: auto;
  height: 100%;
  top: 1vh;
}

#bow-1 {
  display: block;
  opacity: 1;
}

.bow-drop {
  position: fixed;
  display: block;
  width: 90vw;
  background-color: transparent;
  height: 5vh;
  margin: auto;
  left: 0;
  right: 0;
  top: 12vh;
  z-index: 1;
}

#bow-controls {
  margin: auto;
  position: relative;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1vh;
}

#bow-title {
  width: 54vw;
  background-color: white;
  border-radius: 2vw;
  padding: 1vw;
  text-align: center;
}

#arrows-container{
  width: 100vw;
  position: fixed;
  bottom: 0;
}

.arrow {
  display: block;
  position: relative;
  width: 90vw;
  margin: auto;
  margin-bottom: 0.5vh;
}


/*  */

#robin-trial .container {
  align-items: center;
  justify-content: center;
  display: flex;
}

#bubble-robin-big {
  bottom: 0px;
  position: fixed;
  z-index: 0;
  height: 59vw;
  right: -5vw;
}
